@import "../null.scss";

.card {
    margin: 50px;
    display: flex;

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fceeb5;
        padding: 1rem 1.5rem;
    }

    &__body {
    }

    &__level {
        font-size: 0.75rem;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
    }

    &__img {
        // flex: 0 0 110px;
        // height: 110px;
        width: 110px;
        border-radius: 50%;

        overflow: hidden;
        border: 4px solid white;
        img {
            width: 100%;
        }
    }

    &__points {
    }

    &__name {
    }

    &__text {
    }
}
