@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"); /*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: #f4f4f4;
}

main {
  position: relative;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}
@media (max-width: 590px) {
  main {
    padding: 20px 50px;
  }
}
main::before {
  content: "";
  background-color: rgb(252, 201, 47);
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
}
h1 {
  font-weight: 700;
  font-size: 18px;
}
@media (min-width: 590px) {
  h1 {
    font-size: 28px;
  }
}
@media (min-width: 900px) {
  h1 {
    font-size: 35px;
  }
}

.chose-section {
  margin: 20px auto;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 590px) {
  .chose-section {
    margin: 30px auto;
  }
}
@media (min-width: 900px) {
  .chose-section {
    margin: 40px auto;
  }
}

.chose-toggle {
  background-color: rgb(16, 24, 47);
  color: #fff;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-evenly;
  height: 30px;
  border-radius: 20px;
  font-size: 10px;
  position: relative;
  cursor: pointer;
}
@media (max-width: 430px) {
  .chose-toggle {
    width: 70px;
    height: 25px;
    font-size: 8px;
  }
}
@media (min-width: 748px) {
  .chose-toggle {
    width: 150px;
    font-size: 14px;
  }
}
.chose-toggle span {
  position: relative;
  z-index: 4;
  transition: color 0.3s;
}
.chose-toggle span:first-child {
  margin-right: 6px;
  color: black;
}
@media (min-width: 748px) {
  .chose-toggle span:first-child {
    margin-right: 16px;
  }
}
.chose-toggle span:last-child {
  margin-right: 6px;
}
.chose-toggle::after {
  content: "";
  width: 50px;
  height: 25px;
  position: absolute;
  background-color: #fff;
  border-radius: 20px;
  left: 3px;
  transition: left 0.3s;
}
@media (max-width: 430px) {
  .chose-toggle::after {
    width: 35px;
    height: 20px;
  }
}
@media (min-width: 748px) {
  .chose-toggle::after {
    width: 75px;
  }
}
.chose-toggle.active span:first-child {
  color: #fff;
}
.chose-toggle.active span:last-child {
  color: black;
}
.chose-toggle.active::after {
  left: 47px;
}
@media (max-width: 430px) {
  .chose-toggle.active::after {
    left: 32px;
  }
}
@media (min-width: 748px) {
  .chose-toggle.active::after {
    left: 72px;
  }
}

.plans-row {
  display: flex;
  max-width: 1100px;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
@media (min-width: 590px) {
  .plans-row {
    flex-direction: row;
  }
}
.plans-row > * {
  margin-right: 20px;
}
@media (max-width: 590px) {
  .plans-row > * {
    margin-bottom: 20px;
    margin-right: 0px;
  }
}
@media (min-width: 615px) {
  .plans-row > * {
    margin-right: 30px;
  }
}
@media (min-width: 860px) {
  .plans-row > * {
    margin-right: 40px;
  }
}
.plans-row .card:last-child {
  margin-right: 0px;
}

.card {
  position: relative;
  z-index: 10;
  display: flex;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
  transition: transform 0.3s;
  cursor: pointer;
}
@media (min-width: 590px) {
  .card {
    flex: 1 1 30%;
  }
  .card:hover {
    transform: scale(1.1);
  }
}
.card__header {
  font-weight: bold;
  padding: 10px 10px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 248, 252);
}
@media (min-width: 860px) {
  .card__header {
    padding: 20px 20px 40px;
  }
}
.card__title {
  margin-bottom: 23px;
  font-size: 18px;
}
@media (min-width: 860px) {
  .card__title {
    font-size: 22px;
  }
}
.card__price-box {
  text-align: center;
  margin-bottom: 30px;
}
.card__price {
  font-weight: bold;
  display: block;
  margin-bottom: 4px;
  font-size: 24px;
}
@media (min-width: 860px) {
  .card__price {
    font-size: 30px;
  }
}
.card__price-month {
  font-weight: normal;
  font-size: 13px;
}
.card__btn {
  background-color: rgb(16, 24, 47);
  color: white;
  font-weight: normal;
  border-radius: 3px;
  cursor: pointer;
  padding: 8px 15px;
  transition: padding 0.3s, border-radius 0.3s;
}
.card__btn:hover {
  padding: 8px 35px;
  border-radius: 0px;
}
@media (min-width: 860px) {
  .card__btn {
    font-size: 16px;
    padding: 8px 20px;
  }
}
.card__footer {
  background-color: rgb(254, 254, 254);
  padding: 25px 15px;
  flex: 1;
}
@media (max-width: 590px) {
  .card__footer {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 860px) {
  .card__footer {
    padding: 40px 30px;
  }
}
.card__list li {
  padding-left: 20px;
  background-image: url("../check.svg");
  background-repeat: no-repeat;
  background-position: 2px top;
  background-size: 10px;
  font-size: 12px;
  margin-bottom: 12px;
}
.card__list li:last-of-type {
  margin-bottom: 0px;
}
@media (min-width: 860px) {
  .card__list li {
    font-size: 16px;
  }
}

@-webkit-keyframes ShowUP {
  0% {
    opacity: 0.7;
    transform: translate(0%, -110%);
  }
  81% {
    transform: translate(0%, 10%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

@keyframes ShowUP {
  0% {
    opacity: 0.7;
    transform: translate(0%, -110%);
  }
  81% {
    transform: translate(0%, 10%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
@-webkit-keyframes moveUpReverse {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(-20%, -110%);
  }
}
@keyframes moveUpReverse {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(-20%, -110%);
  }
}
.show {
  -webkit-animation: ShowUP 1s ease-in-out 0s normal none;
          animation: ShowUP 1s ease-in-out 0s normal none;
}/*# sourceMappingURL=style.css.map */