@import "fontSize.scss";
@import "../../null.scss";
@import "func_var.scss";

// block elements ==========

.container {
    max-width: $baseWidthScreen;
    margin: auto;
    padding: 15px;
}

.subtitle {
    color: $primaryColor;
    text-align: center;
    @include fontSize(16, 11.39rem, 21, 20em);
}

.title {
    color: $secondaryColor;
    @include fontSize(40, 28.9rem, 60, 50em);
    font-weight: 700;
    text-align: center;

    @media (min-width: 37.5rem) {
        // 600
        @include fontSize(40, 35.5rem, 60, 50em);
    }
}

.btn {
    background-color: transparent;
    color: $secondaryColor;
    border: 1px solid $secondaryColor;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
    @media (min-width: 24.375rem) {
        font-size: 1rem;
    }

    &:hover {
        background-color: $primaryColor;
        border: 1px solid $primaryColor;
        color: #ffff;
    }
}

// NFT Container ============================================

.nft {
    @include margin-bott();

    &__row {
        display: grid;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
        @media (min-width: 42rem) {
            //671px
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: 63.125rem) {
            //1010px
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.nft-card {
    padding: calc(15px + 0.390625vw);
    border: 0.5px solid #e3e3e3;
    border-radius: 3px;
    box-shadow: 0px 0px 20px rgba(221, 221, 221);
    min-width: 19.68rem;
    display: flex;
    flex-direction: column;

    @media (max-width: 21.87rem) {
        min-width: auto;
    }
    @media (min-width: 37.5rem) {
        padding: 20px;
    }
    &__img {
        position: relative;
        flex: 1;
        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__available-div {
        margin-top: 13px;
        margin-bottom: 13px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & :first-child {
            display: flex;
            align-items: center;
        }

        & p {
            color: $primaryColor;
            font-size: calc(0.7rem + 0.290625vw);
            // @include fontSize(16, 16rem, 25);
            line-height: 1.6;
            margin-left: 5px;
        }
    }

    &__author-div {
        display: flex;
        color: $secondaryColor;
        margin-bottom: 1.25em;
    }

    &__author-img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        img {
            max-width: 100%;
        }
    }

    &__author-body {
        flex: 1;

        & > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__name {
        @include fontSize(16, 13.39rem, 21);
        @media (min-width: 37.5rem) {
            font-size: 1rem;
        }
    }

    &__link {
        color: #313131;
        font-size: 0.75rem;
    }

    &__price-current {
        font-size: 0.75rem;
    }

    &__price {
        font-weight: 500;
        @include fontSize(16, 13.39rem, 21);
        @media (min-width: 24.375rem) {
            font-size: 1rem;
        }
    }

    &__btn {
        width: 80%;
        margin: auto;
        padding: 0.625em 0;
        font-size: calc(0.8rem + 0.290625vw);
        border-radius: 20px;
    }

    &__block-absolute {
        position: absolute;
        width: calc(268% / 339 * 100); // 299px
        left: 50%;
        transform: translateX(-50%);
        bottom: 1.5em;
    }
}

.block-absolute {
    background-color: rgba(255, 1, 77, 0.8);
    color: #ffff;
    @include fontSize(14, 12rem, 15);
    border-radius: 5px;
    padding: 0.605em 0;
    @media (min-width: 33.75rem) {
        font-size: 0.875rem;
    }

    &__row {
        display: flex;
        justify-content: space-evenly;
        & > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            &:last-of-type::after {
                display: none;
            }

            & p {
                margin-bottom: 0.4em;
            }
            & p:last-of-type {
                margin-bottom: 0px;
            }
        }

        & .double-dots {
            font-size: calc(1.2rem + $baseVW);
            font-weight: bold;
        }
    }
}

.fa-heart {
    color: #d7443e;
    font-size: 1.25rem;
}

// Seller container ===========================================

.seller {
    &__title {
        margin-bottom: 0.5em;
    }
    &__text {
        @include fontSize(18, 13.4rem, 30, 50em);
        text-align: center;
        @media (min-width: $baseWidthScreen) {
            font-size: 1.125rem;
        }
    }

    // &__body {
    // }

    &__grid {
        @include margin-bott();
        display: grid;
        column-gap: 1.5625em;
        row-gap: 1.5625em;
        @media (min-width: 45rem) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: 63.125rem) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    // &__seller-card {
    // }
}

.seller-card {
    padding: 0.625em;
    box-shadow: 0px 0px 10px rgba(221, 221, 221, 0.5);
    border-radius: 0.625rem;

    &__row {
        display: grid;
        grid-template-columns: 32% 1fr;
        column-gap: 1.25em;
    }
    // 370 122
    // &__column {
    // }

    &__img {
        background-color: rgba(255, 1, 77, 0.4);
        border-radius: 10px;
        img {
            max-width: 100%;
        }
    }

    &__name {
        @include fontSize(18, 13.35rem, 30);
        font-weight: 700;
        @media (min-width: $baseWidthScreen) {
            font-size: 1.125rem;
        }
    }

    &__link {
        @include fontSize(16, 11.35rem, 20, 18em);
        font-weight: 500;
        @media (min-width: $baseWidthScreen) {
            font-size: 1rem;
        }
    }

    &__items-sold {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > p:first-of-type {
            color: #636363;
            @include fontSize(16, 11.35rem, 20);

            @media (min-width: $baseWidthScreen) {
                font-size: 1rem;
            }
        }
        & > p:last-of-type {
            color: #636363;
            box-shadow: 0px 0px 4px rgba(221, 221, 221, 0.5);
            border-radius: 3px;
            font-size: 0.75rem;
            padding: 0.25em;
        }
    }
}

.pink-text {
    color: $primaryColor;
    position: relative;
    display: inline-block;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        background-color: $primaryColor;
        bottom: -0.25em;
    }
}

// create container ===================================

.create {
    &__title {
        color: $secondaryColor;
        font-weight: 700;
        @include fontSize(40, 28.9rem, 60, 50em);
        @media (min-width: $baseWidthScreen) {
            font-size: 2.5rem;
        }
        @media (min-width: 37.5rem) {
            @include fontSize(40, 35.5rem, 60, 50em);
        }
        @media (min-width: $baseWidthScreen) {
            font-size: 2.5rem;
        }
    }

    &__row {
        display: grid;
        row-gap: 0.625rem;
        @media (min-width: 63.125rem) {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 0;
            column-gap: 4.5625rem;
        }
    }
    // 78 / 261

    &__column {
        &:last-of-type {
            text-align: center;
            img {
                max-width: 100%;
            }
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0.625em;
        column-gap: 0.625em;
        @media (min-width: 31.25em) {
            row-gap: 1.875em;
            column-gap: 1.875em;
        }
    }

    &__block {
    }
}
.create-block {
    display: flex;
    flex-direction: column;

    &__img {
        align-self: flex-start;
        // font-size: calc(13rem + $baseVW);
        padding: 5.74%;
        border-radius: 4px;
        @media (min-width: $baseWidthScreen) {
            padding: 0.9375rem;
        }
    }

    &__img2 {
        background-color: #ffaec7;
    }
    &__img3 {
        background-color: #7b5959;
    }
    &__img4 {
        background-color: #bdefff;
    }
    &__img5 {
        background-color: #aeffc5;
    }

    &__title {
        flex: 1;
        @include fontSize(20, 15.35rem, 30, 10em);
        font-weight: 700;
        margin-top: 1em;
        @media (min-width: $baseWidthScreen) {
            font-size: 1.25rem;
        }
    }

    &__text {
        @include fontSize(14, 9.35rem, 24);
    }
}
