@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import "../../null.scss";

// Color ===================
$primaryColor: #ff014f;
$secondaryColor: #1e2d48;

// font-size ===============
$baseFZ: 16;
$baseVW: 0.390625vw;

@mixin fontSize($fz, $fluidFZ, $lineHeight, $marginB: 0) {
    font-size: calc($fluidFZ / $baseFZ + $baseVW);
    line-height: $lineHeight / $fz;
    margin-bottom: $marginB / $fz;
}

// ==========================

body {
    font-family: "DM Sans", sans-serif;
}

// block elements ==========

.container {
    max-width: 74.375rem;
    margin: auto;
    padding: 15px;
}

.subtitle {
    color: $primaryColor;
    text-align: center;
    @include fontSize(16, 11.39rem, 21, 20em);
}

.title {
    color: $secondaryColor;
    @include fontSize(40, 28.9rem, 60, 50em);
    font-weight: 700;
    text-align: center;

    @media (min-width: 37.5rem) {
        @include fontSize(40, 35.5rem, 60, 50em);
    }
}

.btn {
    background-color: transparent;
    color: $secondaryColor;
    border: 1px solid $secondaryColor;
    text-align: center;
    font-weight: 500;
    font-size: calc(0.8rem + 0.290625vw);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s;
    @media (min-width: 24.375rem) {
        font-size: 1rem;
    }

    &:hover {
        background-color: $primaryColor;
        border: 1px solid $primaryColor;
        color: #ffff;
    }
}

// Container ==================
.nft {
    margin-bottom: 6.875rem;

    &__row {
        display: grid;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
        @media (min-width: 42rem) {
            //671px
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: 63.125rem) {
            //1010px
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.nft-card {
    padding: calc(15px + 0.390625vw);
    border: 0.5px solid #e3e3e3;
    border-radius: 3px;
    box-shadow: 0px 0px 20px rgba(221, 221, 221);
    min-width: 19.68rem;
    display: flex;
    flex-direction: column;

    @media (max-width: 21.87rem) {
        min-width: auto;
    }
    @media (min-width: 37.5rem) {
        padding: 20px;
    }
    &__img {
        position: relative;
        flex: 1;
        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__available-div {
        margin-top: 13px;
        margin-bottom: 13px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & :first-child {
            display: flex;
            align-items: center;
        }

        & p {
            color: $primaryColor;
            font-size: calc(0.7rem + 0.290625vw);
            // @include fontSize(16, 16rem, 25);
            line-height: 1.6;
            margin-left: 5px;
        }
    }

    &__author-div {
        display: flex;
        color: $secondaryColor;
        margin-bottom: 1.25em;
    }

    &__author-img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        img {
            max-width: 100%;
        }
    }

    &__author-body {
        flex: 1;

        & > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__name {
        @include fontSize(16, 13.39rem, 21);
        @media (min-width: 37.5rem) {
            font-size: 1rem;
        }
    }

    &__link {
        color: #313131;
        font-size: 0.75rem;
    }

    &__price-current {
        font-size: 0.75rem;
    }

    &__price {
        font-weight: 500;
        @include fontSize(16, 13.39rem, 21);
        @media (min-width: 24.375rem) {
            font-size: 1rem;
        }
    }

    &__btn {
        width: 80%;
        margin: auto;
        padding: 0.625em 0;
    }

    // absolute element watch ======================================
    &__block-absolute {
        position: absolute;
        width: calc(268% / 339 * 100); // 299px
        left: 50%;
        transform: translateX(-50%);
        bottom: 1.5em;
    }
}

.block-absolute {
    background-color: rgba(255, 1, 77, 0.8);
    color: #ffff;
    @include fontSize(14, 12rem, 15);
    border-radius: 5px;
    padding: 0.605em 0;
    @media (min-width: 33.75rem) {
        font-size: 0.875rem;
    }

    &__row {
        display: flex;
        justify-content: space-evenly;
        & > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            &:last-of-type::after {
                display: none;
            }

            & p {
                margin-bottom: 0.4em;
            }
            & p:last-of-type {
                margin-bottom: 0px;
            }
        }

        & .double-dots {
            font-size: calc(1.2rem + $baseVW);
            font-weight: bold;
        }
    }
}

.fa-heart {
    color: #d7443e;
    font-size: 1.25rem;
}

// Market container ==============================
.market {
    &__body {
        padding: 0 3%;
    }

    &__row {
        display: grid;
        @media (min-width: 53.93rem) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__column {
        &:first-of-type {
            display: flex;
            justify-content: center;
        }
    }

    &__layout {
        margin-bottom: 19%;
        @media (min-width: 35.125rem) {
            margin-bottom: 5.625rem;
        }
        @media (min-width: 53.93rem) {
            margin-right: 2rem;
            margin-bottom: 0;
        }
        @media (min-width: 58.75rem) {
            margin-right: 15%; // 129 / 470 *100
        }
    }

    &__img {
        img {
            max-width: 100%;
        }
    }

    .img1 {
        position: relative;
        max-width: 29.375rem;
        margin-left: 0.5rem;
    }
    .img2 {
        position: absolute;
        max-width: 22.75rem;
        width: 60%;
        // width: 77.44%;
        bottom: -15.9%;
        // right: -27%; // 129 / 470 *100
        right: -5%;
        @media (min-width: 58.75rem) {
            right: -15%; // 129 / 470 *100
        }
    }
    .img3 {
        max-width: 13.5rem;
        width: 45.95%; // 216/470*100
        left: -7%;
        position: absolute;
        top: 0;
    }

    // &__text {
    // }

    // &__list {
    // }

    // &__btn {
    // }
}
